*{
    box-sizing: border-box;
}
form{
    padding: 30px;
        width: 400px;
        height: 200px;
        /* border: 1px solid #000; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 50px auto;
}
form input[name="dollar"]{
        border: 1px solid teal;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            caret-color: red;
            box-shadow: 6px 4px 11px -1px teal;
}
form .result{
        color: black;
            text-shadow: -2px 5px 3px grey;
}